/* Définition des polices personnalisées */

@font-face
{
    font-family: 'BallparkWeiner';
    src: url('polices/ballpark.eot');
    src: url('polices/ballpark.eot?#iefix') format('embedded-opentype'),
         url('polices/ballpark.woff') format('woff'),
         url('polices/ballpark.ttf') format('truetype'),
         url('polices/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Dayrom';
    src: url('polices/dayrom.eot');
    src: url('polices/dayrom.eot?#iefix') format('embedded-opentype'),
         url('polices/dayrom.woff') format('woff'),
         url('polices/dayrom.ttf') format('truetype'),
         url('polices/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Elements principaux de la page */
body
{
  background: url('images/fond_jaune.png');
  font-family: 'Dayrom','Trebuchet MS', Arial, sans-serif;
  color: #181818;
}

#bloc_page
{
  width: 90%;
  margin: auto;
}

section h2, footer h1, nav a
{
  font-family: 'Dayrom',Arial,serif;
  font-weight: normal;
  text-transform: uppercase;
  text-align: left;
}

/*Header*/
header
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-item: flex-end;
  
}

header h1
{ 
  font-family: Arial,serif;
  font-size: 2.5em;
  font-weight: bold; 
  margin: 0 0 0 10px;
  text-align: center;
}


/* Navigation */
nav ul
{
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
nav li{
  margin: 4px 0;
}

nav a 
{
  font-size: 0.8em;
  color: #181818;
  padding-bottom: 3px;
  padding-top: 3px;
  text-decoration: none;
  font-weight:bold;
}
nav a:hover
{
  color: #760001;
  border-bottom: 3px solid #760001;
 }

#topsection {
  display:flex;
}

/* Corps */

#notice
{
  display: flex;
  flex-direction: column; 
  border: 2px black solid;
  /*box-shadow: 6px 6px 6px black;*/
  /*border-radius: 15px 15px 15px 15px; */  
  margin-left:auto;
  margin-right:auto;
  width: 90%;
}

#notice p
{  
  width: 90%;
  text-align: justify;
  margin-left:auto;
  margin-right:auto;
  margin-top: 0;
}

#notice h2
{  
  width: 90%;
  text-align: left;
  margin-left:auto;
  margin-right:auto;
}

#notice a:hover
{
  font-weight: bold;
  color: #1E90FF;
}
.telechargement
{
    display: flex;
    justify-content: space-around;
    margin: 10px 0 10px 0;
    /*max-width: 50%;*/
}
.bouton_rouge:nth-child(2)
{
    height: 25px;
    right: 5px;
    bottom: 5px;
    background-image: linear-gradient(#B20000,#330000);/* #55AAFF,#000055*/
    border: 1px solid #000055;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    padding: 3px 8px 0px 8px;
    /*color: white;*/
    text-decoration: none;
  box-shadow: 6px 6px 6px black;
}
.bouton_rouge:nth-child(1)
{
    height: 25px;
    right: 5px;
    bottom: 5px;
    background-image: linear-gradient(#00AA00,#005500);
    border: 1px solid #228B22;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    padding: 3px 8px 0px 8px;
    /*color: white;*/
    text-decoration: none;
  box-shadow: 6px 6px 6px black;
}



.telechargement a
{
  color: white;
}
.telechargement a:hover
{
  color: white;
  text-decoration: underline;
}

section
{
  display: flex;
  flex-direction: column;  
  margin-bottom: 20px;
}


section p 
{
  font-size: 1.2em;
  width: 90%;
  text-align: justify;
  margin-left:auto;
  margin-right:auto;
}

section h2
{
  font-size: 1.2em;
  text-align: left;
  margin-left:auto;
  margin-right:auto; 
  color: #760001 ; 
}

section img
{
  margin-right:auto;
  margin-left:auto;
  border: 5px black solid;
  box-shadow: 6px 6px 6px black;
  border-radius: 15px 15px 15px 15px; 
  max-width: 95%;
  max-height: 95%;
  display: block; /* remove extra space below image */ 
}


.large
{
  margin-right:auto;
  margin-left:auto;
  border: 5px black solid;
  box-shadow: 6px 6px 6px black;
  border-radius: 15px 15px 15px 15px; 
  max-width: 60%;
  /*max-height: 30%;*/
  min-width: 200px;
  /*min-height: 200px;*/
  display: block; /* remove extra space below image */ 
}

section figcaption
{
  overflow: auto;
  font-size: 0.8em;
  font-style: italic;
}
/*figure figcaption
{
  position: absolute;
}*/

section span
{
  font-size: 0.7em;
  text-transform: lowercase;
}
section figure
{
  text-align: center;
}


.signature
{
  text-align: right
}

/* Background */


.PourAllerPlusLoin
{
  display: flex;
  flex-direction: column; 
  border-radius: 15px 15px 15px 15px;
  border: 5px black solid;
  box-shadow: 6px 6px 6px black;
  /*background-image: url("images/fond_jaune.png");*/
  background-color: rgba(240,230,140,0.5);
}


.PourAllerPlusLoin img
{
  margin-right:auto;
  margin-left:auto;
  border: none;
  box-shadow: 6px 6px 6px black;
  border-radius: 0px 0px 0px 0px;  
}

#TitlePourAllerPlusLoin
{

  font-size: 1.2em;
  margin-left:auto;
  margin-right:auto; 
  color: #760001 ; 
}

.element
{
	width: 150px;
	height: 100px;
}
.element:nth-child(1)
{
	background-color: orange;
	/*flex: 1*/;
}
.element:nth-child(2)
{
	background-color: blue;

}
.element:nth-child(3)
{
	background-color: #ad6;

}

.intro
{
	color: green;/*commentaire*/
}

.parag
{
	color: black;/*commentaire*/
	font-size: 1.3em;
	font-family: Impact,"Arial Black",Arial,sans-serif;
	/*font-style: italic;*/
	/*text-decoration: overline;*/
	text-align: justify;

}

.flottant
{
	float: right;
	border: 5px black solid;
	box-shadow: 6px 6px 6px black;
}

.autreparagraphe
{
	clear: both;
}


/* Foot  */ 
footer
{
    display: flex;
    justify-content: space-around;
    /*padding-top: 25px;*/
}

/*footer p
{
    width: 5%;
    background-color: black;
}*/

#logo 
{
    display: flex;
    justify-content: space-round;
    display: flex;
    justify-content: space-between; 

    width: 38%;
}

#logo img 
{
    margin-left: 25px;    
    margin-right: 25px; 
     width: 95%;
    /*background-color: black;
     height:20%;*/
    
}


#solutions
{
    display: flex;
    justify-content: space-around;
    margin: 10px 0 10px 0;
    /*max-width: 50%;*/
}
.bouton_sol:nth-child(1)
{
    height: 25px;
    right: 5px;
    bottom: 5px;
    background-image: linear-gradient(#55AAFF,#000055);
    border: 1px solid #000055;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    padding: 3px 8px 0px 8px;
    /*color: white;*/
    text-decoration: none;
  box-shadow: 6px 6px 6px black;
}

#solutions a
{
  color: white;
}
#solutions a:hover
{
  color: white;
  text-decoration: underline;
}

/*#solutions
{
    width: 25%;
    background-image: linear-gradient(#00AA00,#005500);
}*/
